source [find interface/cmsis-dap.cfg]
source [find target/rp2040.cfg]

#adapter serial E6609CB2D35DBD28
adapter serial E6609CB2D3748229
#cmsis_dap_serial E6609CB2D3748229

adapter speed 5000

bindto 0.0.0.0

tcl_port 6676
gdb_port 3343
telnet_port 4454

